 * {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 header {
     width: 100%;
     position: relative;
     z-index: 100;
     background: white;
 }


 .brand-name a {
     position: absolute;
     left: 50%;
     top: 20%;
     font-family: 'Major Mono Display';
     font-size: 40px;
     font-weight: 900;
     color: red;
     transition: all 0.5s;
 }

 .brand-name a:hover {
     transform: scale(1.09);
     color: red;
 }

 .social {
     position: absolute;
     top: 2rem;
     left: 88%;
 }

 .social ul li {
     padding: 0 .8rem;
     font-size: 1.5rem;
 }

 .about {
     text-align: center;
     padding: 2rem 0 2rem 2rem;
 }

 .about li {
     margin-right: 3rem;
     font-family: 'Aleo';

     ;
 }

 .about li a {
     color: #707070;
     text-transform: uppercase;

 }

 a:hover {
     text-decoration: none;
     color: black;
 }

 .mainpart .carousel-item {
     margin-top: 90px;
     height: 600px;
 }

 .mainpart img {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     object-fit: cover;
     object-position: 0px -1580px;
 }

 .first-carousel-caption {
     margin-bottom: 300px;
     color: black;


 }

 .first-carousel-caption h1 {
     font-family: 'Major Mono Display';
     font-weight: 500;
     font-size: 40px;
     font-style: italic;
 }

 .first-carousel-caption button {
     color: white;
     font-family: 'Aleo';
     font-weight: 500;
     margin-top: 50px;
     font-size: 18px;
     padding: 6px;
     width: 15%;
     background: none;
     border: 1px solid white;
     transition: all 0.8s;
 }

 .first-carousel-caption button:hover {
     color: #222;
     background: #ffd;
     border: 1px solid #eee;
     border-radius: 15px;
     box-shadow: 4px 2px 1px black;
     font-weight: bolder;

 }


 .three-sections ul {
     margin: 5rem 0 8rem 0;
 }

 .three-sections ul li {

     padding: 0 3rem;
     font-family: 'Aleo';
     text-transform: uppercase;

 }

 .three-sections ul li {
     position: relative;

     transition: all 0.5s;
 }

 .three-sections ul li:hover {
     transform: scale(1.06);
 }

 .three-sections ul li i {
     margin-right: 5px;
     font-size: 20px;
 }

 .people a {
     color: #C56848;
 }

 .places a {
     color: #51876B;

 }

 .places {
     top: 10%;
 }

 .first-row {
     margin-bottom: 6rem;
 }

 .eye a {
     color: #93B7C9;
 }

 .card-1 {
     width: 500px;
     height: 570px;
     border-radius: 2px;
     box-shadow: .1px .1px black;
     position: relative;
     transition: all .3s;
     margin-bottom: 2rem;
 }

 .card-1:hover {
     transform: scale(1.05);
     box-shadow: 2px 2px 9px #222;
 }


 .card-1 img {
     height: 385px;
     object-fit: cover;
     object-position: 100% 90%;
     width: 100%;

 }

 .card-1 .editor {
     position: absolute;
     font-family: 'Aleo';
     top: 69%;
     left: 7%;
     font-size: .9rem;
     color: #666666;
 }

 .card-1 .date {
     position: absolute;
     top: 72%;
     left: 7%;
     font-size: .8rem;
 }

 .card-1 .title {
     position: absolute;
     font-family: 'Aleo';
     font-weight: 900;
     top: 80%;
     left: 7%;
     font-size: 1.7rem;
 }


 .read {
     font-family: 'Aleo';
     font-weight: 100;
     color: #333;
     border: .5px solid #222;
     border-radius: 15px;
     position: absolute;
     top: 75%;
     left: 88%;
     padding: 8px;
     transition: all .2s;
     background: white;
 }

 .read:hover {
     transform: scale(1.05);
     background: #51876B;
     color: #ddd;
     border: .2px solid #444;
     box-shadow: 2px 2px 5px #222;

 }

 .second-carousel-caption {
     margin-bottom: 20%;
     color: black;


 }


 .second-carousel-caption h1 {
     font-family: 'Major Mono Display';
     font-weight: 500;
     font-size: 40px;
     font-style: italic;
 }

 .second-carousel-caption button {
     color: white;
     font-family: 'Aleo';
     font-weight: 500;
     margin-top: 50px;
     font-size: 18px;
     padding: 6px;
     width: 15%;
     background: none;
     border: 1px solid white;
     transition: all 0.8s;
 }

 .second-carousel-caption button:hover {
     color: #222;
     background: #ffd;
     border: 1px solid #eee;
     border-radius: 15px;
     box-shadow: 4px 2px 1px black;
     font-weight: bolder;

 }

 .noslidecarousel .carousel-item {
     margin-top: 90px;
     height: 700px;
 }

 .noslidecarousel img {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 /* addpost page */

 .addpost-form {
     margin-top: 200px;
 }

 .post-carousel .carousel-item {
     /* margin-top: 50px; */
     height: 530px;
 }

 .post-carousel-caption {
     margin-bottom: 220px;
     font-family: 'Aleo';
 }

 .post-carousel-caption h1 {
     font-size: 50px;
     font-weight: 900;
     text-transform: capitalize;
 }

 .post-carousel img {
     object-fit: cover;
     object-position: 0% 72%;
     height: 100%;
     width: 100%;
 }

 .body {
     margin-top: 80px;
 }

 .side-bar {
     width: auto;
     margin-right: 50px;
 }

 .post-author {
     font-family: 'Aleo';
     text-transform: capitalize;
     font-weight: 700;
     margin-bottom: 6px;
     font-size: 17px;
     text-align: left;
 }

 .post-date {
     font-weight: 300;
     font-size: 14px;
     text-align: right;

 }

 .share-post {
     font-family: 'Aleo';
     text-transform: capitalize;
     font-weight: 600;
     font-size: 15px;
     margin-top: 40px;
 }



 .social-mediap li {
     padding: 0 9px;
     margin-right: 3px;
 }

 .social-mediap li i {
     color: #222;
     transition: all 0.3s;
 }

 .social-mediap li i:hover {
     color: #888;
 }

 .content {

     padding: 10px;
 }

 .content p {
     line-height: 50px;
     font-family: 'Noto Serif SC';
     font-size: 24px;
     font-weight: 500;
 }

 .comments {
     position: relative;
     margin-top: 30px;

 }



 .comment h3 {
     text-align: center;
     text-transform: capitalize;
     color: #444;
     transition: all 0.4s;
     font-family: 'Indie Flower';
     font-size: 40px;
     font-weight: 700;
 }

 .first-hr {
     border: none;
     width: 38%;
     height: 2px;
     background-color: #222;
     position: absolute;
     top: 12%;
 }

 .second-hr {
     border: none;
     width: 38%;
     height: 2px;
     background-color: #222;
     position: absolute;
     top: 12%;
     left: calc(100% - 40%);
 }

 .comment h3:hover {
     color: #888;
     transform: scale(1.009);


 }

 .comment-area {
     margin-top: 100px;
     margin-bottom: 3rem;

 }

 .comment-area form {
     margin-bottom: 100px;
 }

 .comment-area textarea {
     border: 0;
     border: .1px thin #444;
     box-shadow: 2px 1px 3px #555;
     border-radius: 18px;
     outline: none;
     padding: 10px;
     margin-bottom: 25px;
     position: relative;
     background: #ddd;
 }

 .comment-area .button {
     padding: 10px;
     position: absolute;
     left: 70%;
     margin-bottom: 10px;
     font-family: 'Indie Flower';
     font-weight: 900;
     border: none;
     background: none;
     outline: none;
     border: .2px solid #555;
     border-radius: 10px;
     font-size: 24px;
     cursor: pointer;
     transition: all 0.3s;
 }

 .comment-area .button:hover {
     transform: scale(1.09);
     background: #eee;
     color: #333;
     border: 0;
 }

 .view-comment {
     position: relative;
     margin-top: 40px;
     border-left: 1px solid #555;
     box-shadow: 6px 1px 5px #222;
     outline: none;
     padding: 10px;
     background: #fff;
     border-radius: 20px;
     transition: all 0.4s;

 }

 .view-comment:hover {
     transform: scale(1.006);
 }

 .view-comment p {
     margin-left: 30px;
     font-family: 'Noto Serif SC';
     font-size: 23px;
 }

 .upper-info {
     margin-left: 10px;
     margin-bottom: 10px;
 }

 .upper-info h4 {
     color: #555;
     text-transform: capitalize;
 }

 .upper-info span {
     position: absolute;
     top: 20%;
     left: 80%;
     font-size: 12px;
     font-weight: 500;
 }

 /* footer */

 .social-footer {
     padding: 1rem;
     /* margin-top: .5rem; */
     background: #ddd;
     border-top: .1rem solid red;
     position: relative;

 }

 .social-footer ul {
     position: absolute;
     left: 20%;
     font-size: 1.8rem;
     top: 20%;

 }

 .social-footer ul li {
     padding: 0 2rem;
 }

 .social-footer ul li a {
     color: #222;
     transition: all 0.4s;

 }

 .social-footer ul li a:hover {
     color: red;

 }

 .social-footer .apec-name {
     position: relative;
     left: 60%;
     font-family: sans-serif;
     font-weight: 400;
     font-size: 1.2rem;
     text-transform: uppercase;
     padding: 0 2rem;
 }